<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ntou.cs.lab505.serenity" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LogoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ServiceActivity"
            android:label="@string/title_activity_service" >
        </activity>
        <activity
            android:name=".activities.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".activities.IOSettingActivity"
            android:label="@string/title_activity_iosetting" >
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".activities.GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>
        <activity
            android:name=".activities.DatabaseActivity"
            android:label="@string/title_activity_database" >
        </activity>
        <activity
            android:name=".activities.FreqSettingActivity"
            android:label="@string/title_activity_freq_setting" >
        </activity>
        <activity
            android:name=".activities.BandSettingActivity"
            android:label="@string/title_activity_band_setting" >
        </activity>
    </application>

</manifest>
